:username: Administrator
:host: vcenter.example.com
:dc: Primary
:cluster: Production
:insecure: true
:ds_regex: encrypted
:netmask: 255.255.255.0
:dns: 192.168.1.1,192.168.1.2
:app_env: production
:domain: example.com
:make_vm: true
:power_on: true
:sat_url: https://satellite.example.com/rpc/api
:sat_username: Admin
:puppetmaster_url: https://puppetmaster.example.com
:puppetdb_url: https://puppetdb.example.com
:puppet_env: Production
:puppet_cert: /path/to/cert.pem
:puppet_key: /path/to/key.pem
:add_uri: https://ipam.dev/api/getFreeIP.php?subnet=SUBNET&apiapp=APIAPP&apitoken=APITOKEN&host=HOSTNAME&user=USER
:del_uri: https://ipam.dev/api/removeHost.php?host=HOSTNAME&apiapp=APIAPP&apitoken=APITOKEN
:apiapp: ipamip
:apitoken: ewqrpo3423sfghHYLM
:shinken_url: https://shinken.example.com
:dvswitch:
  'dc1': 'dvswitch1uuid'
  'dc2': 'dvswitch2uuid'
:network':
  '192.168.20.0':
    name: 'Production'
    portgroup: 'dvportgroup1-number'
  '192.168.30.0':
    name: 'DMZ'
    portgroup: 'dvportgroup2-number'
