:username: Administrator
:host: vcenter.example.com
:dc: Primary
:cluster: Production
:insecure: true
:ds_regex: encrypted
:iso_store: ESX_ISO
:netmask: 255.255.255.0
:dns: 192.168.1.1,192.168.1.2
:app_env: production
:url: https://ks.example.com/rhel6.ks
:dir: /usr/local/isolinux
:domain: example.com
:make_iso: true
:upload_iso: true
:make_vm: true
:power_on: true
:dvswitch:
  'dc1': 'dvswitch1uuid'
  'dc2': 'dvswitch2uuid'
:network':
  '192.168.20.0':
    name: 'Prodcution'
    portgroup: 'dvportgroup1-number'
  '192.168.30.0':
    name: 'DMZ'
    portgroup: 'dvportgroup2-number'
